body {
    min-height: 800px;
    display: flex;
    border: 2px solid black;

    /* 
        row
        row-reverse
        column
    */
    flex-direction: column;

    /* 
        flex-start 
        flex-end
        center

        space-between
        space-around
        space-evenly
    */
    /* main axe */
    justify-content: flex-start;

    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: #0071ff;
    font-size: 40px;
}