body {
    min-height: 800px;
    display: flex;
    border: 8px solid black;

    /* column-gap: 10px;
    row-gap: 20px; */

    gap: 20px;

    /* 
        wrap
        nowrap
    */
    flex-wrap: wrap;

    /* 
        row
        row-reverse
        column
    */
    /* flex-direction: column; */

    /* 
        flex-start 
        flex-end
        center

        space-between
        space-around
        space-evenly
    */
    /* main axe */
    justify-content: center;

    align-items: center;

    /* same as others before */
    /* justify all elemnts in intire matrix */
    align-content: center;
}

.box {
    height: 200px;
    width: 200px;
    background-color: #0071ff;
    font-size: 40px;

    display: flex;

    justify-content: center;
    align-items: center;
}