html {
    background-color: #FBEAEB;
}

body {
    width: 50vw;
    margin: auto;
    margin-top: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}

.main-page img {
    width: 100%;
    margin: auto;
}

.lyrics-page img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}