@font-face {
    src: url(/fonts/SpecialGothicExpandedOne-Regular.ttf);
    font-family: SpecialGothicExpandedOne-Regular;
}

@font-face {
    src: url(/fonts/Silkscreen-Bold.ttf);
    font-family: 'Silkscreen-Bold';
}

html {
    background-color: #FBEAEB;
}

body {
    width: 90vw;
    margin: auto;
    margin-top: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: block;
    border: 3px solid;
    display: flow-root;
}

h1 {
    /* horizontal vertical offsets */
    /* blur */
    /* color */
    text-shadow: 3px 3px 5px hsl(0, 70%, 45%), -3px -3px 5px hsl(182, 55%, 57%);
}

p {
    font-family: 'Silkscreen-Bold', "courier new";
    border-bottom: 3px solid rgb(194, 22, 22);
    border-top: 3px solid rgb(255, 255, 36);
    border-left: 3px dotted rgb(255, 186, 57);
    border-right: 3px dotted rgb(79, 250, 79);

    border-radius: 10px;
}

.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    /* right, left, top, bottom */
    /* margin: 50px; */
    margin: auto;
}

#box1 {
    background-color: hsl(0, 74%, 54%);
    /* margin-left: auto; */
}

#box2 {
    background-color: hsl(187, 88%, 61%);

}

.main-page {
    margin: auto;
    /* width: 50%; */
    /* background-color: aliceblue; */
}

.main-page table {
    margin: 0 auto;
}

.main-page h3 {
    text-align: center;
}

#img1 {
    float: left;
    margin-right: 25px;
}

#img2 {
    float: right;
}

.lyrics-page img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}