@font-face {
    src: url(/fonts/SpecialGothicExpandedOne-Regular.ttf);
    font-family: SpecialGothicExpandedOne-Regular;
}

@font-face {
    src: url(/fonts/Silkscreen-Bold.ttf);
    font-family: 'Silkscreen-Bold';
}

* {
    box-sizing: border-box;
}

html {
    background-color: #FBEAEB;
}

body {
    /* width: 90vw; */
    margin: 0;
    background-color: rgb(36, 36, 36);
    /* border-radius: 10px; */
    /* padding: 0; */
    /* display: block; */
    /* border: 3px solid; */
}

h1 {
    /* horizontal vertical offsets */
    /* blur */
    /* color */
    text-shadow: 3px 3px 5px hsl(0, 70%, 45%), -3px -3px 5px hsl(182, 55%, 57%);

    color: white;

    text-align: center;
}

p {
    font-family: 'Silkscreen-Bold', "courier new";
    /* border-bottom: 3px solid rgb(194, 22, 22);
    border-top: 3px solid rgb(255, 255, 36);
    border-left: 3px dotted rgb(255, 186, 57);
    border-right: 3px dotted rgb(79, 250, 79);

    border-radius: 10px; */

    color: black;
}

h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: hsl(337, 100%, 67%);
}

p::selection {
    color: hsl(110, 42%, 39%);
    background-color: hsl(0, 1%, 29%);
}

.fruits li::before {
    /* content: "✅"; */
}

#apple::after {
    content: "🍎";
}

#orange::after {
    content: "🍊";
}

#banana::after {
    content: "🍌";
}

.fruits li::marker {
    content: "✓";
    color: rgb(26, 228, 26);
    font-size: 1.2em;
}

a:link {
    color: hsl(212, 100%, 68%);
}

/* a:hover {
    color: hsl(212, 100%, 86%);
    font-size: 1.1em;
} */

/* a:active {
    color: hsl(212, 100%, 28%);
    font-size: 1.1em;
} */

/* a:visited {
    color: hsl(120, 9%, 50%);
} */

li:hover {
    background-color: hsl(60, 84%, 66%);
}

/* li:not(:hover) {
    background-color: hsl(60, 3%, 77%);
} */

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    background-color: hsl(120, 77%, 48%);
    font-weight: bold;
    border-radius: 5px;

}

.pagination a:hover:not(.active) {
    background-color: hsl(180, 0%, 52%);
    border-radius: 5px;
}

.dropdown {
    background-color: black;
    display: inline-block;
}

.dropdown button {
    background-color: hsl(0, 0%, 72%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: hsl(0, 1%, 85%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown button:hover {
    background-color: hsl(0, 0%, 59%);
}


/* bad desision - should add some logic*/
/* .dropdown button:hover~.content {
    display: block;
} */

.dropdown:hover .content {
    display: block;
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 63%);
}

/* 
    there are somo atributes that can be putted in the brackets:
    1-n
    odd, even
    3n-nn

    + = where first match should start
 */
/* li:nth-child(3n + 2) {
    background-color: hsl(60, 100%, 84%);
} */

.greeting p {
    background-color: hsl(197, 100%, 67%);
    padding: 10px;
    display: none;
}

.greeting:hover p {
    display: block;
}



/* .container p {
    color: black;
    background-color: hsl(60, 100%, 50%);
} */

/* .container>p {
    color: black;
    background-color: hsl(60, 100%, 50%);
} */

/* .container~p {
    color: black;
    background-color: hsl(60, 100%, 50%);
} */

.container+p {
    color: black;
    background-color: hsl(60, 100%, 50%);
}

.container {
    display: flex;

    border: 10px solid black;

    height: 90vh;

    /* 
        wrap
        nowrap
        wrap-reverse
    */
    /* flex-wrap: wrap; */
    /* 
        flex-start
        flex-end
        center
        space-evenly
        space-between
        space-around
    */
    /* align-content: flex-start; */
    /* column-gap: 3em;
    row-gap: 3em; */

    /* 
        row 
        row-reverse
        column
        column-reverse
    */
    /* flex-direction: column-reverse; */

    /* 
        flex-start  
        flex-end  
        center
        space-between
        space-around
        space-evenly
    */
    /* justify-content: space-evenly; */

    /* 
        flex-start
        flex-end
        center
        baseline
    */
    /* align-items: baseline; */

}

.container .box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}



@keyframes slideLeft {
    from {
        transform: translateX(300%);
    }
}

@keyframes slideRight {
    to {
        transform: translateX(300%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(300%);
    }
}

@keyframes slideDown {
    to {
        transform: translateY(300%);
    }
}

@keyframes rotate {
    50% {
        /* transform: rotateX(360deg); */
        /* transform: rotateY(360deg); */
        transform: rotateZ(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(2, 2);
    }
}

@keyframes shrink {
    50% {
        transform: scale(0.5);
    }
}

@keyframes fade {
    50% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    50% {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        background-color: hsl(0, 100%, 50%);
    }

    20% {
        background-color: hsl(34, 100%, 58%);
    }

    40% {
        background-color: hsl(56, 100%, 50%);
    }

    60% {
        background-color: hsl(101, 100%, 73%);
    }

    80% {
        background-color: hsl(170, 100%, 60%);
    }

    100% {
        background-color: hsl(229, 100%, 62%);
    }
}

@keyframes glow {
    50% {
        box-shadow: 0px 0px 50px hsl(60, 100%, 59%);
    }
}

.box {
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: hsl(0, 100%, 50%);
    animation-name: slideLeft;
    animation-duration: 2s;
    /* opacity: 0; */

    /* 
        (times)
        infinite
     */
    animation-iteration-count: 1;

    /*  
        normal
        reverse
        alternate
        alternate-reverse
    */
    animation-direction: normal;

    /* 
        paused 
        running
    */
    animation-play-state: paused;

    /*
        ease-in-out
        linear 
        steps(numSteps)
     */
    animation-timing-function: cubic-bezier(0.2, -0.55, 0.79, 1.94);
}

/* .box:active {
    animation-name: glow;
    animation-duration: 2s;
} */

/* .box:hover {
    animation-name: glow;
    animation-duration: 2s;
} */

#box1 {

    background-color: hsl(120, 100%, 72%);


    /* Translate */
    /* transform: translateX(100%); */
    /* transform: translateY(100%); */
    /* transform: translate(50px, 50px); */

    /* rotate */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotate(90deg); */
    /* transform: rotateZ(25deg); */

    /* scale */
    /* transform: scaleX(0.25); */
    /* transform: scaleY(0.25); */
    /* transform: scale(3, 1); */

    /* skew */
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: skew(35deg, 35deg); */

    /* transform: translateX(100%) rotateZ(90deg) scale(0.5); */
}

#box2 {
    background-color: hsl(0, 78%, 56%);
    /* align-self: center; */
    /* order: -1; */
}

#box3 {
    background-color: hsl(184, 87%, 55%);
}

#box4 {
    background-color: hsl(189, 100%, 71%);
}

img {
    width: 50vw;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.2, -0.55, 0.79, 1.94);
}

.main-page {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 50%; */
    /* background-color: aliceblue; */
}

.main-page table {
    margin: 0 auto;
}

.main-page h3 {
    text-align: center;
}

.parent {
    padding: 30px;
    width: 500px;
    background-color: #0b0c11;
    color: white;

    position: relative;
}

.child {
    padding: 20px;
    background-color: #0071ff;
    color: white;

    position: absolute;

    top: 0;
    right: 0;
}

#div1 {
    background-color: hsl(0, 89%, 45%);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: inline; */

    display: inline-block;
    /* display: none; */
    /* visibility: hidden; */
}

#span1 {
    background-color: hsl(240, 100%, 68%);
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    /* display: none; */
}

.lyrics-page img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    background-color: hsl(0, 0%, 14%);
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    /* float: left; */
    display: inline;
}

main {
    margin: 0 20px;
}

header {
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:800px) {

    aside,
    section,
    article {
        width: 100%;
    }
}

.gallery {
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 250px;
}

.gallery .description {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    border: 1px solid hsl(0, 0%, 21%);
}

.gallery img {
    width: 100%
}

.icons {
    text-align: center;
}

.icons a {
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-house.fa-5x {
    color: hsl(0, 0%, 33%);
}

.fa-solid.fa-house.fa-5x:hover {
    color: hsl(0, 0%, 51%);
}

.fa-brands.fa-twitter.fa-5x {
    color: hsl(192, 100%, 44%);
}

.fa-brands.fa-twitter.fa-5x:hover {
    color: hsl(192, 100%, 50%);
}

.fa-brands.fa-youtube.fa-5x {
    color: hsl(0, 99%, 43%);
}

.fa-brands.fa-youtube.fa-5x:hover {
    color: hsl(0, 100%, 50%);
}

.fa-brands.fa-tiktok.fa-5x {
    color: hsl(0, 0%, 10%);
    text-shadow: 3px 3px 5px hsl(0, 70%, 45%), -3px -3px 5px hsl(182, 55%, 57%);
}

.fa-brands.fa-tiktok.fa-5x:hover {
    color: hsl(0, 0%, 23%);
    text-shadow: 3px 3px 5px hsl(0, 70%, 45%), -3px -3px 5px hsl(182, 55%, 57%);
}