/* Test 1 */
/* body {
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 50px auto;
    padding: .1em;
    position: relative;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

button::after {
    content: '';
    background-image: linear-gradient(to right, #0066ff, #ff32d6);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: .2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
} */