/* Tip 1 */

body {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 50px auto;
    padding: 1em 2em;
    position: relative;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    /*                                                   enable: top right bottom left */
    border-image: linear-gradient(to right, #0066ff, #ff32d6) 1 1 1 1;
}

/* Tip 2 */

.layout-container {
    /* Resposive Width */
    width: min(1000px, 100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
}

.layout-container img {
    display: block;
    margin-bottom: 1em;
    /* Makes the images resize automatically */
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

/* Not suppoeted on Opera GX */
.input-container * {
    accent-color: red;
    caret-color: red;
    padding: 1em;
}