* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
} */

.element {
    height: 100vh;
    height: 100dvh;
    padding: 2em;
    background: #df5757;
    color: white;
    border: 15px solid blue;
}

.container {
    padding: min(5em, 8%);
    margin: auto;
    width: 80vw;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    border-radius: 1em;
    text-align: center;
}

h1 {
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    /* 
        cover
        contain
    */
    object-fit: contain;
    background-color: rebeccapurple;
}

@media (max-width: 700px) {
    .container {
        padding: 2em;
    }
}