/* Tip 1 */
.element {
    width: 250px;
    height: 150px;
    margin: 100px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    transition: box-shadow .3s ease;
}

body {
    padding: 2em;
    background-color: #f9f9f9;
}

.element:hover {
    /* ver 1.0 */
    /* box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
        -10px -10px 10px white; */

    /* ver 2.0 inset */

    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
        -10px -10px 10px white inset;
}

/* Tip 2 */

/* #mycheckbox {
    display: none;
}

label {
    padding: 0.8em 2em;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0, 91, 209);
    font-weight: 500;
    font-size: 1.1rem;
    color: #f9f9f9;
    cursor: pointer;
}

.container {
    display: none;
    margin-top: 20px;
    width: max-content;
}

.container ul {
    border: 1px solid black;
}

.container ul li {
    min-width: 200px;
    padding-left: 1em;
    cursor: pointer;
}

.container ul li:hover {
    background-color: blue;
}

#mycheckbox:checked~.container {
    display: flex;
} */

/* Tip 3 */
.container {
    padding: 2em;
    margin: 20px auto;
    background-color: rgb(0, 103, 238);
    color: #f9f9f9;
    border-radius: 10px;
    /* ver. 1 */
    /* width: min(800px, 90%); */

    /* ver. 2 */
    width: clamp(400px, 50vw, 800px);
}

/* Tip 4 */

/* body {
    background-image: url(./../img/backgrounds/femen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    height: clamp(400px, 50vw, 800px);
    background-color: transparent;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.1),
        -12px -12px 10px rgba(0, 0, 0, 0.1);
}

.glass {
    backdrop-filter: blur(10px);
} */

/* Tip 5 */

body {
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: transparent;
    color: black;
}

.container .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container .buttons-container button {
    padding: 7px 20px;
    min-width: 100px;
    outline: none;
    border: none;
    color: #f9f9f9;
    font-weight: 500;
    border-radius: 20px;
    background-color: rgb(0, 129, 235);
}

/* :not() tip */
/* .container .buttons-container button:not(:first-child) {
    background-color: red;
} */

/* :has() tip */
.container .buttons-container button:has(i) {
    min-width: auto;
    padding-right: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    fill: white;
}

/* Tip 6 */
/* :root {
    --background: #f9f9f9;
    --text-color: black;
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

.container {
    width: min(460px, 90%);
    color: var(--text-color);
}

.container p {
    text-align: center;
}

.container select {
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}

body:has(option[value="dark"]:checked) {
    --background: black;
    --text-color: #f9f9f9;
} */

/* Tip 7 */

/* .container h1 {
    font-size: 5rem;

    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
}

.container button {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    color: #f9f9f9;
    font-size: 1rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.container button .title {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 103, 238);
}

.container button .title i {
    font-size: 1.5rem;
}

.container button .title:has(i) {
    padding-right: 12px;
}

.dropdown {
    display: none;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
}

.dropdown ul li {
    padding: 5px 12px;
    background-color: #f9f9f9;
    color: black;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container button:focus .dropdown {
    display: block;
} */

/* Tip 8 */

/* :root {
    counter-reset: headings;
}

.container .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .item h1 {
    counter-increment: headings;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .item h1::before {
    content: counter(headings);
    background-color: #0071ff;
    border-radius: 2px;
    padding: .15em;
    width: 40px;
    text-align: center;
    color: #f9f9f9;
} */

/* Tip 9 */

.wrapper {
    margin: 50px auto;
    display: flex;
    gap: 20px;
    width: 300px;
    overflow-x: scroll;
    /* 
                        mandatory;
                        proximity */
    scroll-snap-type: x mandatory;
}

.card {
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    background-color: white;
    border-radius: 14px;
    text-align: center;
}